html{
    height: auto;
    width: auto;
}
body {
    background-image:url(images/background.png);
    background-color: black;
}
.ho{
    font-size:45px;
    font-family:'Times New Roman', Times, serif;
    padding-left: 100px;
    height: 80px;
    text-align: center;
    padding-top: 8px;
    padding-bottom:8px;
}

div a{
    text-decoration: none;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    padding-left: 30px;
    padding-right: 15px;
    font-size: 50px;
    color: rgb(135, 199, 255);
    text-align: center;
}
h1{
    color: black;
    font-size: 48px;
    text-align:center;
    background-color:rgb(135, 199, 255)
}

h2{
     color: white;
     font-size: 48px;
     text-align:center;  
}

h3{
    color: rgb(135, 199, 255);
    font-size: 54px;
    text-align:center;
    top: 20px;
    position: relative;
}

p{
    font-size: 70px;
    text-align:center;
    color: rgb(190, 0, 25);
    font-weight: bold;
    background-color: rgb(135, 199, 255);
    width: 920px;
    border: 15px solid rgb(135, 199, 255);
    margin: 15px;
    color: black
}
p1{
     position: relative;
     top: 30px;
     line-height: 15px;
     color: white;
     font-size: 40px;
}
p2{
    bottom: 6px;
    line-height: 15px;
    color: white;
    font-size: 40px;
    position: relative;
    padding-bottom: 100px;
}
h4{
    color: rgb(135, 199, 255);
    font-size: 54px;
    text-align:center;
    top: 30px;
    position: relative;
}
p3{
    color: gray;
    float: right;
}
img{
   
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

    
